@import url(./partials/variables.css);




.header_area .main-menu .nav-item .nav-link{
  float: left;
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  text-align: center;
  padding: 1.7rem;
  color: var(--title-color);
}

header{
  font-family: var(--RocknRoll);
}


.header_area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body{
margin: 0;
padding: 0;
background-color: black;
color: white;
font-family: var(--RocknRoll);
}

.navbar{
justify-content: space-between;
align-items: center;
background-color: black;
color: white;
}

.nav-brand{
margin: 0.5rem;
}

.navbar-tabs ul{
 margin: 0;
 padding: 0;
 display: flex;
}

.navbar-tabs li{
list-style: none;
}

.navbar-tabs li a{
text-decoration: none;
color: white;
padding: 1rem;
display: block;
}

.toggle-button{
position: absolute;
top: 0.75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle-button .bar{
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}

@media (max-width: 750px){
  .toggle-button{
    display: flex;
  }

  .navbar-tabs{
    display: none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-tabs ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-tabs li{
    text-align: center;
  }

  .navbar-tabs li a{
    padding: 0.5rem 1rem;
  }

  .navbar-tabs.active{
    display: flex;
  }
}



/*Home Page cards*/

.dark {
	background: #000;
    justify-content: center;
    text-align: center; margin: 3rem auto;
}


.btn-big {
    border-radius: 0px;
    text-decoration: none;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'RocknRoll', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}


  /*Music Video*/

.music-video{
  margin: 0 auto; /* make em equal */
}

.titles {
  font-family: var(--RocknRoll);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 4px solid #a02028;
    color: white;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    font-size: 28px;
  }


  .main-area .tickets-area{
    margin: 3rem auto;
  }

  .main-area .tickets-area li{
    margin-top: 2rem;
    align-items: center;
  }


  /* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a02028;
  border-radius: 20px;
  border: 6px solid transparent white;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

/*Gallery*/


  div.gallery img {
  width: 100%;
  height: auto;
  }



  .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
  }

  @media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
  }

  .clearfix:after {
  content: "";
  display: table;
  clear: both;
  }



.gallery_row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flip-card{
  width:500px;
  height:500px;
  background:transparent;
  perspective:1000px;
  }

  .flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }


  .flip-card:hover .flip-card-inner{
  transform:rotateY(180deg);
  }

  .flip-card-back , .flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  .flip-card-front{
  color: rgb(255, 255, 255);
  background: url('./assets/gallery/cd\ front.jpg') no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  }

  .flip-card-back{
  background-color: #2980b9;
  color: white;
  transform:rotateY(180deg);
  background: url('./assets/gallery/cd\ back.jpg') no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  }


  .dark {
      background: #000;
      justify-content: center;
      text-align: center; margin: 3rem auto;
  }


  .btn-big {
      border-radius: 0px;
      text-decoration: none;
      padding: 18px 24px;
      font-size: 14px;
      line-height: 40px;
      text-transform: uppercase;
      font-family: 'RocknRoll', sans-serif; font-weight:400;
      letter-spacing: 3px;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
              transition: all .4s ease-in-out;
  }

  .btn-white{
      border:solid 2px #fff;
      background: transparent;
      color: #fff !important;
  }
  .btn-white:hover{
      border:solid 2px #fff;
      background: #fff;
      color: #1f1f1f !important;
  }
  
  /*FOOTER*/

/* FOOTER */
.footer {
width: 100%;
background: #000000;
display: block;
}

.inner-footer {
width: 95%;
margin: auto;
padding: 30px 10px;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
justify-content: center;
}

.footer-items {
width: 25%;
padding: 10px 20px;
box-sizing: border-box;
color: #fff;
}

.footer-items p {
font-size: 16px;
text-align: justify;
line-height: 25px;
color: #fff;
}

.footer-items h1 {
color: #fff;
}

.border1 {
height: 3px;
width: 40px;
background: #a02028;
color: #a02028;
background-color: #a02028;
border: 0px;
}

ul {
list-style: none;
color: #fff;
font-size: 15px;
letter-spacing: 0.5px;	
}

ul a {
text-decoration: none;
outline: none;
color: #fff;
transition: 0.3s;
}

ul a:hover {
color: #a02028;
}

footer-items ul li {
margin: 10px 0;
height: 25px;
}

footer-items li i {
margin-right: 20px;
}

.social-media {
width: 100%;
color: #a02028;
text-align: center;
font-size: 20px;
}

.social-media a {
text-decoration: none;
}

.social-media i {
height: 25px;
width: 25px;
margin: 20px 10px;
padding: 4px;
color: #fff;
transition: 0.5s;
}

.social-media i:hover {
transform: scale(1.5);
}

.footer-bottom {
padding: 10px;
background: #000000;
color: #fff;
font-size: 16px;
text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
.footer-items {
width: 50%;
}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
.footer-items {
width: 100%;
}
}

div.gallery img {
  width: 100%;
  height: auto;
  }



  * {
  box-sizing: border-box;
  }

  .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
  }

  @media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
  }

  .clearfix:after {
  content: "";
  display: table;
  clear: both;
  }

  .gallery_row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }